
<div [ngStyle]="{'border':'2px solid black', 'padding': '5px', 'width': '700px'}">
  <h1>Dojo Mail</h1>
  <table [ngStyle]="{'font-size':'16pt', 'margin': '10px'}">
    <tr [ngStyle]="{'font-weight': 'bold', 'font-size': '20pt'}">
      <th>Email</th>
      <th>Importance</th>
      <th>Subject</th>
      <th>Content</th>
    </tr>
    <tbody *ngFor='let email of emails'>
      <tr>
        <td>{{email.email | lowercase }}</td>
        <td *ngIf='email.important'>High</td>
        <td *ngIf='!email.important'>Low</td>
        <td>{{email.subject}}</td>
        <td>{{email.content}}</td>
      </tr>
    </tbody>
  </table>
</div>
